[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git@github.com:sorin-ionescu/prezto.git
  ignore = dirty
[submodule "rbenv"]
	path = rbenv
	url = git@github.com:rbenv/rbenv.git
[submodule "nvim/bundle/vundle"]
	path = nvim/bundle/vundle
	url = git@github.com:VundleVim/Vundle.vim.git