[submodule "zsh/prezto"]
	path = zsh/prezto
	url = https://github.com/sorin-ionescu/prezto
  ignore = dirty
[submodule "rbenv"]
	path = rbenv
	url = git@github.com:rbenv/rbenv.git
[submodule "nvim/bundle/vundle"]
	path = nvim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
